body {
  width: 1170px;
  padding: 0;
  margin: 0 auto;
}

.main-header {
  width: 1170px;
  padding: 0px;
  margin: 0px 0px 54px 0px;
}

.main-nav {
  width: 1170px;
  margin: 0;
  padding: 0px;
}

.main-menu {
  width: 612px;
  float: right;
  margin: 0;
  padding: 0px;
}
.clearfix {
  overflow: auto;
}

.main-menu li {
  padding: 44px 0px;
  margin: 0px 34px 0px 0px;
  float: left;
  list-style-type: none;
}
.clearfix {
  overflow: auto;
}

.main-menu li:last-child {
  margin: 0px 28px 0px 0px;
}

.main-menu-link {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu .firstlink {
  color: #1abc9c;
}

.left-menu-span {
  float: left;
  margin: 0;
  padding: 37px 0px 37px 20px;
}
.clearfix {
  overflow: auto;
}

.left-menu-a {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #000000;
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.left-menu-a span::first-letter {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #1abc9c;
  font-family: "Roboto";
  font-weight: 900;
}

.conteiner1 {
  width: 1170px;
  margin: 0;
  padding: 0;
}
.clearfix {
  overflow: auto;
}

.unit1 {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #515151;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
}

.unit1::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 30px auto 80px auto;
  padding: 0;
}

.part {
  width: 255px;
  background-color: rgb(151, 150, 150);
  float: left;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 0px;
  font-size: 0;
}

.part:nth-of-type(4n-7) {
  margin-left: 30px;
}

.part:nth-of-type(5n) {
  margin-bottom: 100px;
}

.part-h3 {
  display: inline-block;
  height: 40px;
  width: 200px;
  background-color: #323232;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  text-align: start;
}

.part:hover {
  background-color: #1abc9c;
}

.part-h2:hover {
  background-color: #1abc9c;
}

.part-h3:hover {
  background-color: #1abc9c;
}

.part .linkinpages a {
  text-decoration: none;
}

.part-h2 {
  display: inline-block;
  width: 51px;
  height: 40px;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
}

.conteiner2 {
  width: 1170px;
  margin: 0;
  padding: 0;
}

.unit2 {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #555252;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
}

.unit2::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #4ec6ab;
  margin: 30px auto 78px auto;
  padding: 0;
}

.chapter {
  float: left;
  width: 350px;
  margin: 0px 30px 30px 0px;
}
.clearfix {
  overflow: auto;
}

.chapter:first-of-type {
  margin-left: 30px;
}
